@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

@media (min-width: 112.5em) {
  .wrapper-xl {
    max-width: 1400px;
    margin: auto;
  }
}

.fa {
  -webkit-text-stroke: 2px black;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom left, transparent, #9258da, #CC68D9, #cc68d9);
  background-position-y: 100px;
  background-repeat: no-repeat;
  transition: 1s ease all;
}

.fa:hover {
  cursor: pointer;
  background-position-y: 0;
  -webkit-text-stroke-color: #9258da;
}

.menu__list-category__item {
  animation: menu_list 1.6s;
  animation-fill-mode: forwards;
}
@keyframes menu_list {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu__list-category__item:nth-of-type(3) {
  animation-delay: 0.5s;
}

.menu__list-category__item:nth-of-type(4) {
  animation-delay: 1s;
}

.menu__list-category__item:nth-of-type(5) {
  animation-delay: 1.5s;
}

.fa-check-circle:before {
  display: inline-block;
  transition: 1s all;
}

.fa-check-circle {
  color: white;
  transition-duration: 0.8s;
  transition-property: transform;
}

.slider {
  position: absolute;
  height: 86px;
  width: 4rem;
  top: 0;
  right: 0;
  transform: translateX(4rem);
  background-color: #98e2cf;
  border-radius: 0 1rem 1rem 0;
  transition: all 0.5s ease-in-out;
  font-size: 1.5rem;
}
.slider i {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.menu__list-category__item:hover i::before {
  transform: rotate(360deg);
}
.menu__list-category__item:hover .slider {
  display: inline-block;
  transform: translateX(0);
}

.btn {
  cursor: pointer;
  padding: 15px 20px;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 25px;
  background: linear-gradient(#cc68d9, #9258da);
  box-shadow: 0 5px 5px #C1C1C1;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: linear-gradient(#d37cde, #a06ddf);
  box-shadow: 0 5px 5px #a2a2a2;
}

.cta__btn {
  margin: 28px auto 55px;
}

.btn-heart {
  background: none;
  border: none;
}

.spinner_bg {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #353535;
  z-index: 1000;
  animation: bg_opacity 2.5s linear forwards;
}

.spinner {
  position: relative;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin-top: -60px;
  margin-left: -60px;
  border-radius: 50%;
  border-top: 3px solid #9258da;
  border-right: 3px solid #915ad6;
  border-bottom: 3px solid #8e5ad0;
  z-index: 1000;
  animation: spinner 2.5s linear forwards;
  animation-iteration-count: 2;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
@keyframes bg_opacity {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
    height: 100vh;
    width: 100vw;
  }
  100% {
    opacity: 0;
    z-index: 0;
    height: 0;
    width: 0;
  }
}
header {
  position: relative;
  height: 4rem;
  display: flex;
}
@media (min-width: 112.5em) {
  header {
    max-width: 1400px;
    margin: auto;
  }
}
header .navbar {
  position: relative;
  height: 100%;
  width: 90%;
  display: flex;
  margin: auto;
}
header .navbar .navbar__arrow {
  font-size: 1.25rem;
  position: absolute;
  top: 30%;
}
header .navbar .navbar__logo {
  height: 2rem;
  width: 11rem;
  margin: auto;
}
header .navbar .navbar__logo > img {
  height: 100%;
  width: 100%;
}

.footer {
  background-color: #353535;
}
.footer-wrapper {
  max-width: 1400px;
  margin: auto;
}
.footer__brand img {
  height: 28px;
  margin: 1.5rem 5%;
}
.footer__links {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  line-height: 1.5;
  padding-bottom: 1.5rem;
}
.footer__links a {
  color: white;
}
.footer__links a i {
  width: 15px;
  margin-right: 0.5rem;
  font-size: 0.875rem;
}

.cta {
  height: 335px;
  background-color: #F6F6F6;
  text-align: center;
}
.cta__city {
  background-color: #EAEAEA;
  border-top: 3px solid #D2D2D2;
  border-bottom: 3px solid #EAEAEA;
}
.cta__city i {
  margin-right: 10px;
}
.cta__title {
  width: 66%;
  margin: 42px auto 18px;
  line-height: 1;
}
.cta__text {
  width: 80%;
  margin: 0 auto;
  opacity: 0.6;
}

.how__title {
  margin-top: 2.5rem;
  margin-left: 5%;
}
.how__step {
  width: 325px;
  height: 73px;
  display: flex;
  margin: 1.5rem auto;
  background-color: #F6F6F6;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 5px 5px #E6E6E6;
}
.how__step:last-child {
  background-color: #F5EDFF;
}
.how__step:last-child i {
  color: #9258da;
}
.how__step:last-child {
  margin-bottom: 4rem;
}
.how__step p {
  margin: auto -1rem;
}
.how__step span {
  padding: 6px 8px 6px 11px;
  background-color: #9258da;
  color: white;
  border-radius: 50%;
}
.how__step i {
  margin: 0 1.5rem;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
}
.restaurants__title {
  margin-left: 3%;
}
.restaurants .restaurants__items {
  margin: auto;
}
@media (min-width: 56.25em) and (max-width: 74.9375em) {
  .restaurants .restaurants__items {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media (min-width: 75em) {
  .restaurants .restaurants__items {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.restaurants .restaurants__items .restaurant__item {
  position: relative;
  height: 253px;
  width: 335px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.75fr 1fr;
  gap: 0;
  grid-template-areas: "restaurant__item-img restaurant__item-img restaurant__item-img" "restaurant__item-info restaurant__item-info restaurant__item-info " ". . .";
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: 0 5px 5px #C1C1C1;
}
.restaurants .restaurants__items .restaurant__item:last-child {
  margin-bottom: 50px;
}
.restaurants .restaurants__items .restaurant__item-badge {
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 7px 10px;
  background-color: #99E2D0;
  color: #159374;
  border-radius: 3px;
  font-weight: 600;
}
.restaurants .restaurants__items .restaurant__item-img {
  grid-area: restaurant__item-img;
  overflow: hidden;
  height: 173px;
}
.restaurants .restaurants__items .restaurant__item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
.restaurants .restaurants__items .restaurant__item-info {
  display: grid;
  grid-template-columns: 1fr 1fr 0.25fr;
  grid-template-rows: 1fr 1fr;
  gap: 0;
  grid-template-areas: "restaurant__item-info-title restaurant__item-info-title restaurant__item-info-like" "restaurant__item-info-location restaurant__item-info-location restaurant__item-info-like";
  grid-area: restaurant__item-info;
  height: 3rem;
  margin: 14px 20px auto 15px;
}
.restaurants .restaurants__items .restaurant__item-info-title {
  grid-area: restaurant__item-info-title;
  margin: auto 0;
  font-weight: 600;
}
.restaurants .restaurants__items .restaurant__item-info-location {
  grid-area: restaurant__item-info-location;
  margin: auto 0;
}
.restaurants .restaurants__items .restaurant__item-info-like {
  grid-area: restaurant__item-info-like;
  margin: auto;
  font-size: 1.5rem;
  opacity: 0.6;
}

.menu {
  background-color: #EAEAEA;
}
.menu__img {
  width: 100%;
  margin-top: 1rem;
}
@media (min-width: 37.5em) {
  .menu__img {
    margin-top: 0;
  }
}
.menu__img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
@media (min-width: 37.5em) {
  .menu__img img {
    height: 350px;
    object-fit: cover;
  }
}
@media (min-width: 75em) {
  .menu__img img {
    height: 450px;
  }
}
.menu__list {
  position: relative;
  width: 100%;
  margin-top: -3rem;
  border-radius: 25px 25px 0 0;
  background-color: #EAEAEA;
  padding-bottom: 1px;
}
@media (min-width: 56.25em) {
  .menu__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 112.5em) {
  .menu__list {
    box-shadow: 0 5px 12px #a2a2a2;
    border-radius: 25px;
  }
}
.menu__list-title {
  font-family: "Shrikhand", cursive;
  display: flex;
  margin: 1rem 5% 0;
  font-size: 26px;
}
@media (min-width: 56.25em) {
  .menu__list-title {
    width: 100%;
  }
}
.menu__list-title h2 {
  font-size: 100%;
}
.menu__list-title button {
  margin: auto 15px auto auto;
  opacity: 0.6;
  font-size: 1.5rem;
}
@media (min-width: 56.25em) {
  .menu__list-title button {
    margin-left: 3rem;
  }
}
@media (min-width: 56.25em) {
  .menu__list-category {
    flex-basis: 40%;
    margin-left: 5%;
  }
}
@media (min-width: 75em) {
  .menu__list-category {
    flex-basis: 25%;
  }
}
.menu__list-category-title {
  margin: 0 5%;
  text-transform: uppercase;
}
.menu__list-category-title:after {
  margin-top: 0.5rem;
  content: "";
  display: block;
  height: 3px;
  width: 40px;
  background-color: #98e2cf;
}
.menu__list-category__item {
  overflow: hidden;
  opacity: 0;
  position: relative;
  width: 350px;
  height: 86px;
  margin: 14px auto 14px;
  background-color: white;
  box-shadow: 0 5px 5px #C1C1C1;
  padding: 20px 10px;
  border-radius: 1rem;
}
.menu__list-category__item:last-child {
  margin-bottom: 2.5rem;
}
.menu__list-category__item:hover {
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.menu__list-category__item:hover .menu__list-category__item-title-recipe, .menu__list-category__item:hover .menu__list-category__item-info-recipe {
  display: block;
  white-space: nowrap;
  width: 204px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__list-category__item:hover .menu__list-category__item-title-price, .menu__list-category__item:hover .menu__list-category__item-info-price {
  transform: translateX(-4rem);
  animation: slider 0.5s linear;
}
@keyframes slider {
  0% {
    transform: translateX(0rem);
  }
  25% {
    transform: translateX(-1rem);
  }
  50% {
    transform: translateX(-2rem);
  }
  75% {
    transform: translateX(-3rem);
  }
  100% {
    transform: translateX(-4rem);
  }
}
.menu__list-category__item-title {
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.menu__list-category__item-info {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 47px;
  width: 90%;
}
.menu__list-category__item-info-recipe {
  opacity: 0.6;
}
.menu__list-category__item-info-price {
  font-weight: 600;
}
.menu .order {
  display: flex;
  background-color: #EAEAEA;
}
@media (min-width: 112.5em) {
  .menu .order {
    margin-top: 5rem;
  }
}
.menu .order__btn {
  display: flex;
  margin: 1rem auto 55px;
}

/*# sourceMappingURL=style.css.map */
