@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.btn {
  cursor: pointer;
  padding: 15px 20px;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 25px;
  background: linear-gradient(#ff7ad9, #9256dc);
}

.btn:hover {
  background: linear-gradient(#ff94e1, #a06be1);
}

.cta__btn {
  margin: 28px auto 55px;
}

.spinner {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 58%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border-top: 3px solid #9256dc;
  border-right: 3px solid transparent;
  opacity: 1;
  animation: spinner 1.5s linear;
  animation-iteration-count: 2;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
header {
  position: relative;
  height: 4rem;
  display: flex;
}
header .navbar {
  position: relative;
  height: 100%;
  width: 80%;
  display: flex;
  margin: auto;
}
header .navbar .navbar__arrow {
  font-size: 1.25rem;
  position: absolute;
  top: 30%;
}
header .navbar .navbar__logo {
  height: 2rem;
  width: 11rem;
  margin: auto;
}
header .navbar .navbar__logo > img {
  height: 100%;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  height: 197px;
}
.footer__brand {
  margin: 1.5rem 0 1rem 5%;
  height: 28px;
}
.footer__brand img {
  height: 28px;
}
.footer__links {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  line-height: 1.5;
}
.footer__links a {
  color: white;
}
.footer__links a i {
  width: 15px;
  margin-right: 0.5rem;
  font-size: 0.875rem;
}

.cta {
  height: 335px;
  background-color: #F6F6F6;
  text-align: center;
}
.cta__city {
  background-color: #EAEAEA;
  border-top: 3px solid #D2D2D2;
  border-bottom: 3px solid #EAEAEA;
}
.cta__city i {
  margin-right: 10px;
}
.cta__title {
  width: 66%;
  margin: 42px auto 18px;
  line-height: 1;
}
.cta__text {
  margin: 0 auto;
  opacity: 0.6;
}

.how__title {
  margin-top: 2.5rem;
  margin-left: 5%;
}
.how__step {
  width: 325px;
  height: 73px;
  display: flex;
  margin: 1.5rem auto;
  background-color: #F6F6F6;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 5px 5px #E6E6E6;
}
.how__step:last-child {
  background-color: #F5EDFF;
}
.how__step:last-child i {
  color: #9256dc;
}
.how__step:last-child {
  margin-bottom: 4rem;
}
.how__step p {
  margin: auto -1rem;
}
.how__step span {
  padding: 6px 8px 5px 11px;
  background-color: #9256dc;
  color: white;
  border-radius: 50%;
}
.how__step i {
  margin: 0 1.5rem;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
}
.restaurants__title {
  margin-left: 5%;
}
.restaurants .restaurants__items {
  margin: auto;
}
@media (min-width: 56.25em) and (max-width: 74.9375em) {
  .restaurants .restaurants__items {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media (min-width: 75em) {
  .restaurants .restaurants__items {
    width: 69%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.restaurants .restaurants__items .restaurant__item {
  position: relative;
  height: 253px;
  width: 335px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.75fr 1fr;
  gap: 0;
  grid-template-areas: "restaurant__item-img restaurant__item-img restaurant__item-img" "restaurant__item-info restaurant__item-info restaurant__item-info " ". . .";
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: 0 5px 5px #E6E6E6;
}
.restaurants .restaurants__items .restaurant__item:last-child {
  margin-bottom: 50px;
}
.restaurants .restaurants__items .restaurant__item-badge {
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 7px 10px;
  background-color: #99E2D0;
  color: #159374;
  border-radius: 3px;
  font-weight: 600;
}
.restaurants .restaurants__items .restaurant__item-img {
  grid-area: restaurant__item-img;
  overflow: hidden;
  height: 173px;
}
.restaurants .restaurants__items .restaurant__item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
.restaurants .restaurants__items .restaurant__item-info {
  display: grid;
  grid-template-columns: 1fr 1fr 0.25fr;
  grid-template-rows: 1fr 1fr;
  gap: 0;
  grid-template-areas: "restaurant__item-info-title restaurant__item-info-title restaurant__item-info-like" "restaurant__item-info-location restaurant__item-info-location restaurant__item-info-like";
  grid-area: restaurant__item-info;
  height: 3rem;
  margin: 14px 20px auto 15px;
}
.restaurants .restaurants__items .restaurant__item-info-title {
  grid-area: restaurant__item-info-title;
  margin: auto 0;
  font-weight: 600;
}
.restaurants .restaurants__items .restaurant__item-info-location {
  grid-area: restaurant__item-info-location;
  margin: auto 0;
}
.restaurants .restaurants__items .restaurant__item-info-like {
  grid-area: restaurant__item-info-like;
  margin: auto;
  font-size: 1.5rem;
  opacity: 0.6;
}
.restaurants .restaurants__items .restaurant__item-info-like .fa {
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: white;
}
.restaurants .restaurants__items .restaurant__item-info-like .fa:hover {
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(#9256dc, #ff7ad9);
  -webkit-background-clip: text;
}
.restaurants .restaurants__items .restaurant__item-info-like:hover {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
