//   Fonts
$shrikhand: 'Shrikhand', cursive;  // logo & title
$roboto: 'Roboto', sans-serif;     // text

// Colors
$primary: hsl(267, 66%, 60%);
$secondary: hsl(317, 100%, 74%);
$tertiary: hsl(165, 56%, 74%);

// Shadow
$shadow: 0 5px 5px #E6E6E6;
