//   Fonts
$shrikhand: 'Shrikhand', cursive;  // logo & title
$roboto: 'Roboto', sans-serif;     // text

// Colors
$primary: hsl(267, 64%, 60%);
$secondary: hsl(293, 60%, 63%);
$tertiary: hsl(165, 56%, 74%);

// Shadow
$lightShadow: 0 5px 5px #E6E6E6;
$shadow: 0 5px 5px #C1C1C1;
$darkShadow: 0 5px 5px #a2a2a2;

