@import "./../utils/mixins";

.footer {
  background-color: #353535;

  @include for-big-desktop-up() {
    max-width: 1400px;
    margin: auto;
  }

  &-wrapper {
    max-width: 1400px;
    margin: auto;
  }

  &__brand {

    & img {
      height: 28px;
      margin: 1.5rem 5%;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    line-height: 1.5;
    padding-bottom: 1.5rem;

    & a {
      color: white;

      & i {
        width: 15px;
        margin-right: 0.5rem;
        font-size: 0.875rem;
      }

    }

  }

}
