header {
  position: relative;
  height: 4rem;
  display: flex;

  .navbar {
    position: relative;
    height: 100%;
    width: 80%;
    display: flex;
    margin: auto;

    .navbar__arrow {
      font-size: 1.25rem;
      position: absolute;
      top: 30%;
    }

    .navbar__logo {
      height: 2rem;
      width: 11rem;
      margin: auto;

      & > img {
        height: 100%;
        width: 100%;
      }
    }

  }

}
